:root {
    /* Primary */
    --red400: hsl(0, 100%, 74%);
    --green400: hsl(154, 59%, 51%);

    /* Accent */
    --purple700: hsl(248, 32%, 49%);

    /* Neutral */
    --gray900: hsl(249, 10%, 26%);
    --purple350: hsl(246, 25%, 77%);
    --white: hsl(0, 0%, 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    padding: 50px 20px;
    background-image: url("images/bg-intro-desktop.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--red400);
    font-family: "Poppins", sans-serif;
}

main {
    display: flex;
    gap: 30px;
    color: var(--white);

    & > .text {
        width: 500px;
        display: grid;
        place-items: center;
        align-content: center;

        & > h1 {
            font-size: 3rem;
            line-height: 3.75rem;
            margin-bottom: 20px;
        }
    }

    & > .signup {
        width: 500px;

        & > div {
            background-color: var(--purple700);
            display: grid;
            place-items: center;
            height: 60px;
            border-radius: 10px;
            box-shadow: 0 8px 0 rgba(128, 128, 128, 0.3);
            margin-bottom: 30px;
        }

        & > form {
            background-color: var(--white);
            padding: 25px;
            border-radius: 10px;
            display: grid;
            gap: 20px;
            box-shadow: 0 10px 0 rgba(128, 128, 128, 0.3);

            & > input {
                height: 60px;
                font-size: 1rem;
                position: relative;
                border-radius: 10px;
                padding: 0 20px;
                color: var(--gray900);
                border: 1px solid var(--purple350);

                &:focus {
                    outline: none;
                    border: 2px solid var(--gray900);
                }

                &.error {
                    border: 2px solid var(--red400);
                    background-image: url("images/icon-error.svg");
                    background-repeat: no-repeat;
                    background-position: center right 20px;
                }
            }

            & > button {
                height: 60px;
                font-size: 1rem;
                border: none;
                outline: none;
                border-radius: 10px;
                color: var(--white);
                background-color: var(--green400);
                cursor: pointer;
                box-shadow: 0 5px 0 rgba(128, 128, 128, 0.3);
            }

            & > p {
                font-size: 0.7rem;
                color: var(--purple350);
                text-align: center;

                & > span {
                    color: var(--red400);

                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }
            }

            & > .error-msg {
                width: 100%;
                position: relative;
                margin-bottom: 0;
                text-align: right;
                font-size: 0.7rem;
                top: -18px;
                margin-bottom: -18px;
                color: var(--red400);
                font-weight: bold;
                font-style: italic;
            }
        }
    }
}

@media screen and (max-width: 1080px) {
    body {
        padding: 100px 20px;
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        max-width: 500px;
        justify-items: center;

        & > .text {
            width: 100%;
            max-width: 335px;
            text-align: center;
            margin-bottom: 40px;

            & > h1 {
                font-size: 2.4rem;
            }
        }

        & > .signup {
            width: 100%;
            & > div {
                & > p {
                    width: 200px;
                    text-align: center;
                }
            }

            & > form {
                padding: 20px;
                justify-items: center;

                & > input,
                & > button {
                    width: 100%;
                }

                & > p {
                    width: 220px;
                }
            }
        }
    }
}
